<%@ page contentType="text/html; charset=utf-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Search Page</title>
<script language ="javascript">
    function clean(){
        document.getElementById('repositoryPathId').value="";
        document.getElementById('downloadURLId').value="";
        document.getElementById('repositoryContentId').value="";
        document.getElementById('topicsListId1').value="";
        document.getElementById('topicsListId2').value="";
        document.getElementById('topicsListId3').value="";
        document.getElementById('topicsListId4').value="";
    }
</script>
</head>

<fieldset>
    <legend>Search Area</legend>
    <form action="http://10.190.149.16:8080/spring-mvc/crawler/index" method="post">
        <table border="1" bordercolor="#0099FF" width="90%" cellpadding="10" cellspacing="0">
            <tr>
                <th colspan="2">Search Page</th>
            </tr>
            <tr>
                <td>repositoryPath</td>
                <td><input type="text" id= "repositoryPathId" style="width:1200px; height:25px;" name="repositoryPath"/></td>
            </tr>
            <tr>
                <td>downloadURL</td>
                <td><input type="text" id= "downloadURLId" style="width:1200px; height:25px;" name="downloadURL"/></td>
            </tr>
            <tr>
                <td>repositoryPathContent</td>
                <td><input type="text" id= "repositoryContentId" style="width:1200px; height:25px;" name="repositoryContent"/></td>
            </tr>
            <tr>
                <td>topicsList</td>
                <td>
                    <input type="text" id= "topicsListId1" name="topicsList1" style="height:25px;"/>
                    <input type="text" id= "topicsListId2" name="topicsList2" style="height:25px;"/>
                    <input type="text" id= "topicsListId3" name="topicsList3" style="height:25px;"/>
                    <input type="text" id= "topicsListId4" name="topicsList4" style="height:25px;"/>
                </td>
            </tr>
             <tr>
                <th colspan="2">
                     <input type="submit" value="Search" />
                     <input type="button" value="Clean" onclick="clean()" />
                 </th>
             </tr>
        </table>
    </form>
</fieldset>
<body>
</body>
</html>